body {
	background: #fafafa;
	color: #333333;
	margin: 5rem;
	background-image: url("../images/elevated-view-fresh-raw-tagliatelle-pasta-with-tomato-garlic-black-pepper-white-plank.jpg");
	background-size: cover
}
  
h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

.bg-steel {
	background-color: rgb(173, 49, 3);
}

.nav-item.nav-link { 
	border: 1px solid transparent;/* Add a border that is initially transparent */
	border-radius: 5px;
	transition: border 0.3s; /* Add a transition effect for a smooth change */
  }
  
.nav-item.nav-link:hover {
	border-color: white;

}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}
  
.article-title {
	color: #444444;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}
  
a.article-title:hover {
	color: orangered	;
	text-decoration: none;
}
  
.article-content {
	white-space: pre-line;
}
  
.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}
  
.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}
  
.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
  
.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}
  
.account-heading {
	font-size: 2.5rem;
}

.recipe-details {
    display: flex; /* Use flexbox to align elements side by side */
}

.right-side-recipe {
    flex: 1;
	min-width: 200px;
    max-width: 30%;
}